.popup-fade {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100vw; 
	height: 100vh;
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid blueviolet;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}

.label {
    display: block;
    margin-bottom: 10px;
  }
  
.input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .age-ver-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 9999;
  }
  
  .age-ver-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
  }
  
  .age-ver-popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .age-ver-popup p {
    margin-bottom: 0;
  }